# 權重與模型檔案
*.pt
*.onnx
*.engine

# Python 暫存檔
__pycache__/
*.pyc

# Jupyter 暫存
.ipynb_checkpoints/

# 虛擬環境
.venv/
venv/
env/
uav_yolo11_SmallObject/
*.egg-info/
*.egg


# 數據集
datasets/
data/*
!data/demo.jpg